.cont-table{
    margin-top: 20vh;
    margin-left: 10vh;

}

.mark{
    background-color: transparent !important;
    border:none;
    border-color: transparent !important;
}

// Info.js
@media (min-width: 1200px){
.col-lg-offset-8 {
    margin-left: 35% !important;
}
}
.cont-info{
    
    float: left !important;
    margin-top: 10vh;
    margin-bottom: 5vh;
}